.alert{
    display: flex;
    background-color: #9bc3ff;
    padding: 0.5rem 1rem;
    min-width: 390px;
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 10px;
    border-radius: 4px;
    border-left: 8px solid #0267ff;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}
.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}
.alert.show {
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(10px);
    }
}
.alert .msg {
    font-size: 13px;
    color: #0048ce;
}
.alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #80a8ff;
    padding: 1.08rem 0.8rem;
}
.close-btn:hover {
    background-color: #668aff;
    cursor: pointer;
}
.close-btn .fa-times {
    color: #006ace;
    font-size: 22px;
    line-height: 40px;
}
.alert.hide {
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media screen and (max-width:480px) {
    .alert{
        min-width: 360px;
    }
    .alert .msg {
        font-size: 12px;
    }
}